<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>Shipment Report</title>
<!-- Bootstrap core CSS -->
<link href="css/bootstrap.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="css/jquery.dataTables.css" />
<link rel="stylesheet" type="text/css" href="css/upload.css" />
<script type="text/javascript" charset="utf8" src="js/jquery.js"></script>
<script type="text/javascript" charset="utf8" src="js/jquery.dataTables.js"></script>
<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
	var message=[[${message}]];
	if(message != null){
		alert(message);
	}
/*]]>*/
</script>
</head>

<body>
	<div th:replace="fragment/header :: header"></div>
	<div class="container-fluid" style="margin-top: 70px">
		<nav class="col-sm-3 col-md-2 sidebar">
			<ul class="nav nav-list">
				<li><a href="#download">Download</a></li>
				<li><a href="#tradeMe">TradeMe Shipment</a></li>
				<li><a href="#bags">FastWay Bags</a></li>
				<li><a href="#stock">Stock In/Out</a></li>
			</ul>
		</nav>
		<div class="col-sm-9 ml-sm-auto col-md-10 pt-3">
			<div class="panel panel-default" id="download">
				<div class="panel-heading"><strong>Download:</strong></div>
				<div class="panel-body">
					<div class="col-xs-12 col-md-2">
						<a href="/download?table=tab3">FastWay Shipment</a>
					</div>
					<div class="col-xs-12 col-md-2">
						<a href="/download?table=tab1">TradeMe Shipment</a>
					</div>
					<div class="col-xs-12 col-md-2">
						<a href="/download?table=tab2">FastWay Bag</a>
						</div>
				</div>
			</div>
			<div class="panel panel-default" id="tradeMe">
				<div class="panel-heading"><strong>Table: TradeMe Shipment</strong></div>
				<div class="panel-body">
					<label>Add or Update</label>
					<form method="POST" enctype="multipart/form-data" action="/load/tab1">
						<div class="form-group">
							<input type="file" name="file" accept=".csv, text/csv" />
						</div>
						<div class="checkbox">
							<label> <input type="checkbox" name="clear" value="true" /> remove all previous data
							</label>
						</div>
						<input type='hidden' value='false' name='clear' />
						<button type="submit" class="btn btn-default">Submit</button>
					</form>
					<hr />
					<form method="POST" action="/remove/tab1">
						<label>Remove</label>
						<div class="form-group">
							<label class="sr-only" for="shipmentNumber">Shipment No</label>
							<div class="input-group col-lg-4">
								<div class="input-group-addon">Shipment No</div>
								<input type="text" class="form-control input-sm" name="shipmentNumber" placeholder="SO42677/1" />
							</div>
						</div>
						<div class="form-group">
							<label class="sr-only" for="productCode">Product Code</label>
							<div class="input-group col-lg-4">
								<div class="input-group-addon">Product Code</div>
								<input type="text" class="form-control input-sm" name="productCode" placeholder="GDcharger0019" />
							</div>
						</div>
						<button type="submit" class="btn btn-default">Submit</button>
					</form>
				</div>
			</div>
			<div class="panel panel-default" id="bags">
				<div class="panel-heading"><strong>Table: FastWay Bags</strong></div>
				<div class="panel-body">
					<label>Add or Update</label>
					<form method="POST" enctype="multipart/form-data" action="/load/tab2">
						<div class="form-group">
							<input type="file" name="file" accept=".csv, text/csv" />
						</div>
						<div class="checkbox">
							<label> <input type="checkbox" name="clear" value="true" /> remove all previous data
							</label>
						</div>
						<input type='hidden' value='false' name='clear' />
						<button type="submit" class="btn btn-default">Submit</button>
					</form>
					<hr />
					<form method="POST" action="/remove/tab2">
						<label>Remove</label>
						<div class="form-group">
							<label class="sr-only" for="sku">SKU</label>
							<div class="input-group col-lg-4">
								<div class="input-group-addon">SKU</div>
								<input type="text" class="form-control input-sm" name="sku" placeholder="computer118" />
							</div>
						</div>
						<button type="submit" class="btn btn-default">Submit</button>
					</form>
				</div>
			</div>
			<div class="panel panel-default" id="stock">
				<div class="panel-heading"><strong>Stock (Bags)</strong></div>
				<div class="panel-body">
					<label>Stock In</label>
					<form method="POST" enctype="multipart/form-data" action="/stock/in/tab2">
						<div class="form-group">
							<input type="file" name="file" accept=".csv, text/csv" />
						</div>
						<button type="submit" class="btn btn-default">Submit</button>
					</form>
					<hr />
					<label>Stock Out</label>
					<form method="POST" enctype="multipart/form-data" action="/stock/out/tab2">
						<div class="form-group">
							<input type="file" name="file" accept=".csv, text/csv" />
						</div>
						<button type="submit" class="btn btn-default">Submit</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- /container -->

</body>
</html>