<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>Shipment Report</title>
<!-- Bootstrap core CSS -->
<link href="css/bootstrap.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="css/jquery.dataTables.css" />
<!-- <link rel="stylesheet" type="text/css" href="css/non-responsive.css" /> -->
<script type="text/javascript" charset="utf8" src="js/jquery.js"></script>
<script type="text/javascript" charset="utf8" src="js/bootstrap.min.js"></script>
<script type="text/javascript" charset="utf8" src="js/jquery.dataTables.js"></script>

<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
         	 
           var columnList=[[${columns}]];
           var dataSet=[[${data}]];
           var cols =  new Array();
       	   for (i = 0; i < columnList.length; i++) {
       		  var col = { title: columnList[i]};  
        	  cols.push(col);
        	}
           $(document).ready(function() {
               var table = $('#tab').DataTable( {
                   data: dataSet,
                   "order": [],
                   "bDestroy":true,
                   columns: cols,
               } );
               
               //support checkbox
               $('.cb').on( 'click', function (e) {
                   //e.preventDefault();
            
                   // Get the column API object
                   var column = table.column( $(this).val());
                   // Toggle the visibility
                   column.visible($(this).is(":checked"));
                   $('#tab').width("100%");
               } );
               
           } );
 	/*]]>*/
</script>
<script type="text/javascript">
$('#stock_modal').on('loaded.bs.modal', function (e) {
	  $('#stock_modal').removeData();
	});

	$(document).ready(function(){
	  $('body').on('hidden.bs.modal', '.modal', function () {
	    $(this).removeData('bs.modal');
	  });
	});

	$(document).ready(function(){
	  $('body').on('hidden.bs.modal', '.modal', function () {
	    $(this).removeData('bs.modal');
	    $("#" + $(this).attr("id") + " .modal-content").empty();
	    $("#" + $(this).attr("id") + " .modal-content").append("Loading...");
	  });
	});

function toggle(){
  	var img = $('#toggle');
  	var option = $('#option');
 	 if(option.is(':visible')){
 		option.hide();
 		img.attr('src', '/images/sort_desc_disabled.png');
 	 }else{
 		option.show();
 		img.attr('src', '/images/sort_asc_disabled.png');
 		
 	 }
  }
</script>
</head>

<body>
	<div th:replace="fragment/header :: header"></div>
	<div style="margin-top: 55px">
		<div>
			<a href="javascript:toggle()"><img src="/images/sort_desc_disabled.png" id="toggle" /></a>
			<div id='option' style="display: none">
				<span th:each="column, iter :${columns}"> <label> <input type="checkbox" class="cb" checked="checked" th:value="${iter.index}" /> <small
						style="font-weight: normal" th:text="${column}">column</small>
				</label>
				</span>
			</div>
		</div>
		<table id="tab" class="display"></table>
	</div>

	<div id="stock_modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
		 <div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<!-- <div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h5 class="modal-title" id="gridSystemModalLabel">Stock Detail</h5>
				</div>
				<div class="modal-body">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div> -->
			</div>
		</div>
	</div>
	<!-- /container -->
	<div th:replace="fragment/footer:: footer"></div>
</body>
</html>